$text1: "Alkatra", sans-serif;
$text2: "Open Sans", sans-serif;
$text3: 'Overpass Mono', monospace;
$text4: 'Fasthand', cursive;


$color1: #faf7f7;
$color2: #FFA370;
$color3:  #292b46;
$color4: #16161622;
$color5: #16161698;

$p: 13.3vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;